@model KivikangurBicycleExam.Models.Exam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamineeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamineeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheoryResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheoryResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingLotResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingLotResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlalomResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlalomResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CircleResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CircleResult)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
